.flag {
  width: "8em";
  height: "6em";
  margin: "10px";
  box-shadow: "  0px 0px 8px   4px grey  ";
  filter: "grayscale(0.4)";
}

.flag:hover {
  filter: "grayscale(0.1)";
  transition: 1s linear;
}

.embed-container {
  position: relative;
  /* padding-bottom: 100%; */
  height: 400px;
  width: 300px;
  overflow: hidden;
}
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
